backend:
  name: github
  repo: ambegossi/covid-np-web
  branch: master 
  site_domain: covidnovaprata.netlify.app

media_folder: 'static/assets'
public_folder: 'assets'

collections:
  - name: "pages"
    label: "Páginas"
    files:
      - label: "Principal"
        name: "home"
        file: "content/home.md"
        fields: 
          - {label: Casos Confirmados, name: confirmed, widget: number}
          - {label: Casos Curados, name: cured, widget: number}
          - {label: Casos em Investigação, name: investigation, widget: number}
          - {label: Casos Descartados, name: discarded, widget: number}
          - {label: Cor da Bandeira, name: flag_color, widget: select, options: ["amarela", "laranja", "vermelha", "preta"]}
          - {label: Título da Bandeira, name: flag_title, widget: select, options: ["Bandeira amarela - Risco baixo", "Bandeira laranja - Risco médio", "Bandeira vermelha - Risco alto", "Bandeira preta - Risco altíssimo"]}
          - {label: Descrição da Bandeira, name: flag_description, widget: text}
